<div id="index-workouts">
  <% @workouts.each do |workout|%>
    <h2><%= link_to workout.date.strftime("%A %B %d"), workout_path(workout) %></h2>
    <h3> <span>Workout:</span> <%= workout.workout %></h3>
  <% end %>
</div>
